country,GEN;DE_AT,Deutsch (Oesterreich)

;File Name System
;----------------
;Format: xx_yyyy.*
;
;xx:
;db   = Doppelte Buchhaltung
;dbe  = Doppelte Buchhaltung Euro
;dbf  = Doppelte Buchhaltung mit Fremdwährungen
;kb   = Kassenbuch
;kbe  = Kassenbuch Euro
;pr   = Prospekt


;Doppelte Buchhaltung ohne MwSt

;Doppelte Buchhaltung mit MwSt

;Doppelte Buchhaltung Euro ohne MwSt

;Doppelte Buchhaltung Euro mit MwSt

;Doppelte Buchhaltung mit Fremdwährungen und ohne MwSt

;Doppelte Buchhaltung mit Fremdwährungen und mit MwSt

;Prospekt

;Archiv Wechselkurs

;Kassenbuch ohne MwSt
130,100,0,"Kassenbuch für Verein (RLG)", kb_verein_RLG80.ac2,DE_AT
130,100,0,"Kassenbuch für Haushalt", kb_haushalt.ac2,DE_AT
130,100,0,"Verwaltung der Einnahmen/Ausgaben für Vereine", kb_verein.ac2,DE_AT
130,100,0,"Verwaltung der Einnahmen/Ausgaben für Familie", kb_familie.ac2,DE_AT

;Kassenbuch mit MwSt
130,110,0,"Verwaltung der Einnahmen/Ausgaben für Vereine", kb_ust_verein.ac2,DE_AT
130,110,0,"Kassenbuch (RLG)", kb_ust_RLG80.ac2,DE_AT

;Kassenbuch Euro ohne MwSt

;Kassenbuch Euro mit MwSt

;Steuererklärung MwSt
